/* Common */

/* html, body { height: 100%; } */

body {
  background-color: #161411;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
}

p { margin: 1em 0; }

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 1em 0;
}

a         { color: #ccb022; text-decoration: none; }
a:visited { color: #ccb022; }

table {
  font-size: inherit;
}

/* Layout */

.container {
    background-color: #fffefd;
    width: 55em;
    margin: 2em auto;
    padding: 2em;
}

.site {
    border: 1px solid black;
    padding: 2em;
  background-color: #fffefd;
  line-height: 200%;
}

/* Header */

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
}

.site .header h1.title a {
  color: #ccb022;
}

.site .header h1.title a:hover {
  color: #ccb022;
}

/* Content */

.site .content {
  text-shadow: rgba(22, 20, 17, 0.3) 1px 1px 2px;
}

.site .content blockquote {
    margin: 0.5em 1em;
    padding: 0 1em;
    background-color: #eeedec;
}

.site .content .john:before {
    content: "j: ";
    font-weight: bold;
    color: #3333cc;
}

.site .content .kat:before {
    content: "k: ";
    font-weight: bold;
    color: #cc3333;
}

.site .content .john,
.site .content .kat {
    font-style: italic;
}

.site .header a.extra {
  color: #aaa6a0;
  margin-left: 1em;
}

.site .header a.extra:hover {
  text-shadow: rgba(22, 20, 17, 0.3) 1px 1px 2px;
  color: #000;
}
