/* Common */

/* html, body { height: 100%; } */

body {
  background-color: #333939;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
}

p { margin: 1em 0; }

a         { color: #333939; text-decoration: none; }
a:visited { color: #333939; }

table {
  font-size: inherit;
}

@font-face {
    font-family: Chunk;
    src: url(webfonts/Chunkfive-webfont.woff),
    url(webfonts/Chunkfive-webfont.svg),
    url(webfonts/Chunkfive-webfont.eot);
    font-weight: bold;
}

@font-face {
    font-family: LeagueScript;
    src: url(webfonts/LeagueScriptNumberOne-webfont.woff),
    url(webfonts/LeagueScriptNumberOne-webfont.svg),
    url(webfonts/LeagueScriptNumberOne-webfont.eot);
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 1em 0;
    font-family: Chunk, Georgia, serif;
}

/* Layout */

.container {
    background-color: #fffefd;
    width: 55em;
    margin: 2em auto;
    padding: 0.66em;
}

.site {
    border: 2px solid #F9CF49;
    padding: 2em;
  background-color: #fffefd;
  color: #333939;
  line-height: 200%;
}

.centered {
    text-align: center;
}

footer {
    clear: both;
}

/* Header */

.header h1 {
  display: inline-block;
  line-height: 80%;
}

.header h1 .katrina {
    display: block;
}

.header h1 .katrina,
.header h1 .john {
    color: #F9CF49;
    text-transform: uppercase;
}

.header h1 .and {
    font-family: LeagueScript, Chunk, Georgia, serif;
    font-size: 50%;
    color: #333939;
}

.site .header a.extra {
  color: #aaa6a0;
  margin-left: 1em;
}

/* Home */

.home .header {
    font-size: 300%;
}

.home .header h1 {
    margin-bottom: 0.3em;
}

.home ul {
    margin: 0;
    list-style-type: none;
}

.home li {
    display: inline;
    margin-right: 2em;
    font-family: Chunk, Georgia, serif;
    font-size: 120%;
}

.home .photo {
    margin-top: 2em;
    text-align: center;
}

/* Content */

.site .content {
  text-shadow: rgba(22, 20, 17, 0.2) 1px 1px 2px;
}

.site .content a {
    font-weight: bold;
}

.site .content blockquote {
    margin: 0.5em 1em;
    padding: 0 1em;
    background-color: #eeedec;
}

.site .content .john:before {
    content: "j: ";
    font-weight: bold;
    color: #3333cc;
}

.site .content .kat:before {
    content: "k: ";
    font-weight: bold;
    color: #cc3333;
}

.site .content .john,
.site .content .kat {
    font-style: italic;
}

.site .header a.extra:hover {
  text-shadow: rgba(22, 20, 17, 0.2) 1px 1px 2px;
  color: #000;
}
