<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} - Katrina &amp; John's Digital Wedding Album</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body class="default">
    <div class="container">
      <div class="site">
        <div class="header">
          <h1 class="title">
            <a href="./">
              <span class="katrina">Katrina</span>
              <span class="and">and</span>
              <span class="john">John</span>
            </a>
          </h1>
          <a class="extra" href="./">home</a>
          <a class="extra" href="./words.html">words</a>
          <a class="extra" href="./music.html">music</a>
          <a class="extra" href="./thanks.html">thanks</a>
        </div>
        <div class="content">
          {{ content }}
        </div>
        <footer>
          Copyright &copy; 2013, John D. Hume and Katrina Tan.
          All rights reserved except where otherwise noted.
        </footer>
      </div>
    </div>
  </body>
</html>
